NODE_ENV=development
SERVER_HTTP_PORT=3001
APP_HTTP_CONTAINER_PORT=30200
SERVICE_NAME=
API_PATH=

CORS_ORIGIN=*
CORS_ALLOWED_HEADERS=*

DATABASE_MONGO_URI=

DATABASE_POSTGRES_URL=
DATABASE_POSTGRES_HOST=
DATABASE_POSTGRES_PORT=5444
DATABASE_POSTGRES_USERNAME=
DATABASE_POSTGRES_PASSWORD=
DATABASE_NAME=
DATABASE_POSTGRES_SCHEMA=
DATABASE_MAX_POOL=20

KAFKA_BROKERS=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=

REDIS_PORT=6379
REDIS_HOST=
REDIS_URI=

INTERNAL_TOKEN=
API_AUTH=

HOST_PIPELINE_SERVICE=
# File service
DEFAULT_FOLDER_ID=
DEFAULT_BUCKET_NAME=

# Config service
HOST_CONFIG_SERVICE=

# Mailer
MAIL_SENDER=
MAILER_USER=
MAILER_PASS=
MAILER_HOST=
MAILER_PORT=